body {
    background-image: url('../images/background.png');
    background-size: contain;
    display: grid;
    grid-template-columns: 20% 65%;
    grid-gap: 5%;
}

nav {
    border: 5px solid red;
}

main {
    border: 5px solid purple;
}