body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 5%;
}

nav {
    background-color: rgba(76, 108, 85, 0.75);
    height: 100vh;
}

main {
    background-color: rgba(255, 255, 255, 0.75);
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: 0.25;
}